<div id="<%= dom_id(playlist) %>" class="card">
  <div class="card-image">
    <% if playlist.processing? %>
      <div class="skeleton-block" style="height: 352px"></div>
    <% else %>
      <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/<%= "#{playlist.spotify_playlist_id}?#{playlist.updated_at.to_i}" %>" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    <% end %>
  </div>
  <div class="card-content">
    <% if playlist.processing? %>
      <div class="content skeleton-lines">
        <div></div>
        <div></div>
        <div></div>
      </div>
    <% else %>
      <div class="content">
        <strong><%= playlist.activity.name %></strong><br><%= playlist.activity.description %>
      </div>
    <% end %>
    <hr>
    <div class="field is-grouped is-grouped-right" id="playlist_buttons_<%= playlist.id %>">
      <%= render partial: 'home/playlist_buttons', locals: { playlist: playlist } %>
    </div>
  </div>
</div>
