<section class="hero is-small">
  <div class="hero-body">
    <h1 class="title">Today’s Playlists</h1>
    <% if @todays_playlists.any? %>
      <p class="subtitle">Here are your playlists for today’s workouts.</p>
    <% else %>
      <p class="subtitle">You don’t have any workouts scheduled for today. Why don’t you go add one to your calendar?</p>
    <% end %>
    <hr>
  </div>
</section>

<section class="container is-max-desktop">
  <%= form_with model: @music_request, url: music_requests_path, method: :post, local: true, data: { turbo: false } do |form| %>
    <div class="field">
      <%= form.label :prompt, "What do you want to listen to today?", class: 'label' %>
      <div class="control">
        <%= form.text_area :prompt, class: 'textarea', rows: 10, disabled: @todays_playlists.any?(&:processing) %>
      </div>
    </div>
    <div class="field is-grouped is-grouped-right">
      <div class="control">
        <%= form.button type: "submit", class: "button #{'is-loading' if @todays_playlists.any?(&:processing)}", disabled: @todays_playlists.any?(&:unlocked?) do %>
          <span class="icon">
            <i class="fa-solid fa-sparkles"></i>
          </span>
          <span>Generate playlists!</span>
        <% end %>
      </div>
      </div>
    </div>
  <% end %>

  <% if @todays_playlists.any? %>
    <hr>
    <% @todays_playlists.each do |playlist| %>
      <% if playlist.processing? %>
        <%= render partial: 'playlists/processing' %>
      <% else %>
        <%= render partial: 'playlists/card', locals: { playlist: playlist } %>
      <% end %>
    <% end %>
    <% if Rails.env.development? %>
      <hr>
      <div class="field is-grouped is-grouped-right">
        <%= button_to destroy_all_playlists_path, method: :delete, data: { turbo_confirm: 'Are you sure you want to delete all playlists?' }, disabled: @todays_playlists.any?(&:processing), class: "button is-danger" do %>
          <span class="icon">
            <i class="fa-solid fa-circle-xmark"></i>
          </span>
          <span>Delete all</span>
        <% end %>
      </div>
    <% end %>
  <% end %>
</section>
