<h1>Welcome to the Workout Playlist App</h1>

<% if user_signed_in? %>
  <p>Hello, <%= current_user.email %>!</p>
  <p><%= link_to 'Log out', users_sign_out_path, data: { turbo_method: "delete", turbo_confirm: "Are you sure you want to log out?" } %></p>

  <h2>Today's Playlists</h2>
  <% if @todays_playlists.any? %>
    <% processing = @todays_playlists.any?(&:processing?) %>
    <% all_locked = @todays_playlists.all?(&:locked?) %>
    <% @todays_playlists.each do |playlist| %>
      <h3><%= playlist.name %></h3>
      <%= simple_format(playlist.description) %>
      <% if playlist.processing? %>
        <p>Regenerating playlist, please stand by...</p>
      <% else %>
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/<%= playlist.spotify_playlist_id %>" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        <%= button_to (playlist.locked? ? 'Unlock' : 'Lock'), lock_playlist_path(playlist), method: :post, data: { turbo_confirm: playlist.locked? ? "This will allow changes to the playlist. Are you sure?" : "This will prevent the playlist from being changed or deleted. Are you sure?" } %>
        <%= button_to 'Regenerate', regenerate_playlist_path(playlist), method: :post, data: { turbo_confirm: 'Are you sure you want to regenerate this playlist?' }, disabled: playlist.locked? %>
      <% end %>
      <hr>
    <% end %>
    <% if current_user.admin? %>
      <%= button_to 'Regenerate Playlists', regenerate_all_playlists_path, method: :post, data: { turbo_confirm: 'Are you sure you want to regenerate all unlocked playlists?' }, disabled: processing || all_locked %>
    <% end %>
  <% else %>
    <p>You don't have any playlists because you don't have any workouts scheduled for today.</p>
  <% end %>

  <h2>Your Preferences</h2>
  <% if @preference %>
    <h3>Musical Tastes</h3>
    <%= simple_format(@preference.musical_tastes) %>

    <h3>Calendar URL</h3>
    <%= simple_format(@preference.calendar_url) %>

    <h3>Time Zone</h3>
    <%= simple_format(@preference.timezone) %>

    <p><%= link_to 'Edit Preferences', edit_preference_path %></p>
  <% else %>
    <p>You have not set your preferences yet.</p>
    <p><%= link_to 'Set Preferences', edit_preference_path %></p>
  <% end %>

  <% if current_user.admin? %>
    <p><%= link_to 'Sidekiq', "/sidekiq", target: "_blank" %></p>
  <% end %>

<% else %>
  <%= button_to 'Sign in with Spotify', user_spotify_omniauth_authorize_path, method: :post, data: { turbo: false } %>
<% end %>
