<h1>Welcome to the Workout Playlist App</h1>

<% if user_signed_in? %>
  <p>Hello, <%= current_user.email %>!</p>
  <%= link_to 'Logout', users_sign_out_path, method: :delete %>

  <h2>Your Preferences</h2>
  <% if @preference %>
    <p><strong>Musical Tastes:</strong> <%= @preference.musical_tastes %></p>
    <p><strong>Calendar URL:</strong> <%= @preference.calendar_url %></p>
    <p><strong>Timezone:</strong> <%= @preference.timezone %></p>
    <%= link_to 'Edit Preferences', edit_preference_path %>
  <% else %>
    <p>You have not set your preferences yet.</p>
    <%= link_to 'Set Preferences', edit_preference_path %>
  <% end %>

<% else %>
  <%= button_to 'Sign in with Spotify', user_spotify_omniauth_authorize_path, method: :post, data: { turbo: false } %>
<% end %>
