<section class="hero is-small">
  <div class="hero-body">
    <h1 class="title">Settings</h1>
    <hr>
  </div>
</section>

<section class="container is-max-desktop">
  <% if @preference.errors.any? %>
    <div class="notification is-danger">
      <strong>Your changes couldn’t be saved!</strong>
      <% @preference.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </div>
  <% end %>

  <%= form_with model: @preference, url: preference_path, method: :patch, local: true do |form| %>

    <div class="field">
      <%= form.label :musical_tastes, "Music preferences", class: 'label' %>
      <div class="control">
        <%= form.text_area :musical_tastes, class: 'textarea' %>
      </div>
      <p class="help">In your own words, explain what kind of music, genres and artists do you like and dislike.</p>
    </div>

    <div class="field">
      <%= form.label :calendar_url, "Calendar URL", class: "label" %>
      <p class="control is-expanded">
        <%= form.text_field :calendar_url, class: "input" %>
      </p>
      <p class="help">
        Currently supports calendars from TrainerRoad and TrainingPeaks.
      </p>
    </div>

    <div class="field">
      <%= form.label :timezone, "Your time zone", class: "label" %>
      <div class="control">
        <div class="select">
          <%= form.time_zone_select :timezone, ActiveSupport::TimeZone.all, { default: @preference.timezone || "UTC" } %>
        </div>
      </div>
    </div>

    <hr>

    <div class="field">
      <div class="control">
        <%= form.label :public_playlists, class: "checkbox" do %>
          <%= form.check_box :public_playlists, class: "checkbox"  %> Make new playlists public by default
        <% end %>
      </div>
      <p class="help">
        This won’t affect existing playlists.
      </p>
    </div>

    <div class="field">
      <div class="control">
        <%= form.label :automatically_clean_up_old_playlists, class: "checkbox" do %>
          <%= form.check_box :automatically_clean_up_old_playlists, class: "checkbox"  %> Automatically remove older playlists from my Spotify library
        <% end %>
      </div>
      <p class="help">
        This will remove all unlocked playlists created before today from your Spotify library.
      </p>
    </div>

    <hr>

    <div class="field is-grouped">
      <div class="control">
        <%= form.submit "Save changes", class: "button is-primary" %>
      </div>
    </div>
  <% end %>
</section>
