<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %><%= " • " if @page_title.present? %>Given to Tri’s Playlist Generator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <% if ENV['FONT_AWESOME_KEY'].present?%>
      <script src="https://kit.fontawesome.com/<%= ENV['FONT_AWESOME_KEY'] %>.js" crossorigin="anonymous"></script>
    <% end %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render partial: "shared/navbar" %>
    <section class="section">
      <%= yield %>
    </section>
    <div class="notifications" data-turbo-permanent>
      <%= turbo_frame_tag "notification" %>
    </div>
  </body>
</html>
