<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %><%= " • " if @page_title.present? %>Given to Tri’s Playlist Generator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if ENV['FONT_AWESOME_KEY'].present?%>
      <script src="https://kit.fontawesome.com/<%= ENV['FONT_AWESOME_KEY'] %>.js" crossorigin="anonymous"></script>
    <% end %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
  </head>

  <body>
    <div class="container">
      <section class="section is-large has-text-centered">
        <%= yield %>
      </section>
    </div>
  </body>
</html>
